$black: #333;
$white: #eee;

html {
    background-color: $black;
};

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $black;
};

.pointer {
    cursor: pointer;
}

#message {
    margin-top: 30px;
} 

.me {
    margin-top: 20px;
};

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
};

.book {
    height: 180px;
    
    h3 {
        color: $black;
        text-align: center;
    };
    
    img {
        max-height: 100%;
    };
};

.books-card {
    width: 300px;
    
    .bookimg {
        height: auto;
        width: 130px;
    };

    .booktitle {
        margin-left: 25px;
        font-size: 100%;
    }
}

.mybooks-card {
    width: 150px;
        
    .bookimg {
        height: auto;
        width: 130px;
    };
    
    .booktitle {
        font-size: 100%;
    }
}
