<div ng-hide="userInfo.isAuthenticated">
    <h2>Please log in in order to trad books.<h2>
</div>

<div layout="column" flex="grow" ng-show="userInfo.isAuthenticated">
    <div layout="column">
        <h2>My Books</h2>
        <div flex="100" ng-show="vm.loading">
            <i class="fa fa-cog fa-spin fa-5x"></i>
            <p></p>
        </div>
    </div>
    <h4 ng-hide="vm.books.length">No books in your library.</h4>
    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-hide="vm.loading">
        <md-card class="mybooks-card" ng-repeat="book in vm.books">
            <img ng-src="{{book.thumbnail}}" class="md-card-image img-responsive bookimg" alt="{{book.title}}"
                 ng-class="{ traded: book.tradeTo.length }"  />
            <md-card-content>
                <div class="booktitle">{{book.title}}</div>
                <div class="booktitle md-subhead" ng-show="book.tradeTo.length">traded {{book.when}}</div>
            </md-card-content>
        </md-card>
    </div>
    
    <div ng-show="!vm.loading && vm.trades.length">
        <h2>My books from others</h2>
        <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-hide="vm.loading">
            <md-card class="books-card" ng-repeat="book in vm.trades">
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-md card-media">
                            <img ng-src="{{book.thumbnail}}" class="md-card-image img-responsive bookimg" alt="{{book.title}}" />
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                    <span class="booktitle md-subhead">{{book.title}}</span>
                    <div class="booktitle md-subhead">--</div>
                    <div class="booktitle md-subhead">{{book.when}}</div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end end">
                    <md-button class="md-fab md-mini md-primary" ng-click="vm.giveBack(book)">
                        <i class="fa fa-download"></i>
                        <md-tooltip md-direction="left">give back</md-tooltip>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
