<div ng-hide="userInfo.isAuthenticated">
    <h2>Please log in in order to trad books.<h2>
</div>

<div ng-show="userInfo.isAuthenticated">
    <h2>All Books</h2>
    <div ng-show="vm.loading">
        <i class="fa fa-cog fa-spin fa-5x"></i>
    </div>
    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-hide="vm.loading">
        <md-card class="book-card" ng-repeat="book in vm.books">
            <md-card-title>
                 <md-card-title-media>
                    <div class="md-media-md card-media"><img ng-src="{{book.thumbnail}}" class="md-card-image img-responsive bookimg" alt="{{book.title}}"></div>
                </md-card-title-media>
                <md-card-title-text>
                   <span class="booktitle md-subhead">{{book.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end end">
                <md-button class="md-fab md-mini md-primary" aria-label="ask for trade">
                    <i class="fa fa-download"></i>
                    <md-tooltip md-direction="left">ask for trade</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
